@CHARSET "UTF-8";

html{
	background-color: beige;
	font-color: white;
}

h1{ 
	text-align: center;
	
}
.center-image {
	width:100%;
	height: 70%;
}

.login-image {
	width:100%;
	height: 350px;
}


#nav
{
z-index: auto;
position: relative;
	margin:40px;


}
#nav ul li 

{display:inline;
    text-decoration: none;    
    padding: 10px;
    align-content:flex-end;
}
#nav a hover:
{
    color:red;
}





a:link {
	background-color: #cccccc;;
	color: white;
	padding: 14px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}


table{
	border:1px;
	border-color:black;
	border-style:solid;
	width:auto;
	height:100%:
}
th{
	border:1px;
	border-color:black;
	border-style:solid;
	width:auto;
	height:auto:
}

td{
	border:1px;
	border-color:black;
	border-style:solid;
	width:auto;
	height:auto:
}
input[type=submit]{
    background-color: #333333;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
   position: relative;
}


input[type=text]:focus {
    background-color: #cccccc;
    border: 3px solid #555;
}


a:active {
    color: yellow;
}